.Cordinate{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 110px;
}

.fontSmall{
    font-size: 10px;
    font-family: Playfair Display,Georgia,serif;
    color: lightgrey;
    font-weight: bold;
}

.fontfam{
    font-family: Playfair Display,Georgia,serif;
    font-weight: 100;
}

.Cordinate2{
    margin-left: 30px;
}


